@using System.Text.RegularExpressions
@model TennisTableASP.ViewModels.MatchsViewModel

@{
    ViewBag.Title = "Matchs - Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm())
{
    <div class="Administratif">
        <div class="GroupeForm">
            @Html.LabelFor(model => model.Matchs.NumMatch, htmlAttributes: new {@class = "control-label col-md-2"})
            @Html.TextBoxFor(model => model.Matchs.NumMatch, new {htmlAttributes = new {@class = "form-control"}})
        </div>
        <div class="GroupeForm">
            @Html.LabelFor(model => model.Matchs.JugeArbitre, htmlAttributes: new {@class = "control-label col-md-2"})
            @Html.TextBoxFor(model => model.Matchs.JugeArbitre, new {htmlAttributes = new {@class = "form-control"}})
        </div>
        <div class="GroupeForm">
            @Html.LabelFor(m => m.Matchs.Serie.Denomination)
            @Html.TextBoxFor(m => m.Matchs.Serie.Denomination, new {htmlAttributes = new {@class = "form-control"}})
        </div>
        <div class="GroupeForm">
            @Html.LabelFor(model => model.Matchs.Division, htmlAttributes: new {@class = "control-label col-md-2"})
            @Html.TextBoxFor(model => model.Matchs.Division, new {htmlAttributes = new {@class = "form-control"}})
        </div>
    </div>
    <div class="Administratif">
        <div class="GroupeForm">
            @Html.LabelFor(model => model.Matchs.Date, htmlAttributes: new {@class = "control-label col-md-2"})
            @Html.TextBoxFor(model => model.Matchs.Date, new {htmlAttributes = new {@class = "form-control"}})
        </div>

        <div class="GroupeForm">
            @Html.LabelFor(model => model.Matchs.HeureDebut, htmlAttributes: new {@class = "control-label col-md-2"})
            @Html.TextBoxFor(model => model.Matchs.HeureDebut, new {htmlAttributes = new {@class = "form-control"}})
        </div>

        <div class="GroupeForm">
            @Html.LabelFor(model => model.Matchs.HeureFin, htmlAttributes: new {@class = "control-label col-md-2"})
            @Html.TextBoxFor(model => model.Matchs.HeureFin, new {htmlAttributes = new {@class = "form-control"}})
        </div>
    </div>
    <div class="Equipe">
        <div class="Visite">
            <div class="GroupeForm">
                @Html.LabelFor(m => m.Matchs.ClubVe.Nom)
                @Html.TextBoxFor(model => model.Matchs.ClubVe.Nom, new {htmlAttributes = new {@class = "form-control"}})
            </div>
            <div class="GroupeForm">
                @Html.LabelFor(model => model.Matchs.LettreVisite, htmlAttributes: new {@class = "control-label col-md-2"})
                @Html.TextBoxFor(model => model.Matchs.LettreVisite, new {htmlAttributes = new {@class = "form-control"}})
            </div>
        </div>
        <div class="Visiteur">
            <div class="GroupeForm">
                @Html.LabelFor(m => m.ClubsVrVm.ClubChoisi)
                @Html.TextBoxFor(model => model.Matchs.ClubVr.Nom, new {htmlAttributes = new {@class = "form-control"}})
            </div>
            <div class="GroupeForm">
                @Html.LabelFor(model => model.Matchs.LettreVisiteur, htmlAttributes: new {@class = "control-label col-md-2"})
                @Html.TextBoxFor(model => model.Matchs.LettreVisiteur, new {htmlAttributes = new {@class = "form-control"}})
            </div>
        </div>
    </div>
    <div class="Equipe">
        <div class="JoueursVisite">
            <div class="GroupeForm">
                @Html.LabelFor(model => model.Joueur1Ve, htmlAttributes: new {@class = "control-label col-md-2"})
                @Html.TextBoxFor(model => model.Matchs.JVe1.Nom, new {htmlAttributes = new {@class = "form-control "}})
                @Html.TextBoxFor(model => model.Matchs.JVe1.Prenom, new {htmlAttributes = new {@class = "form-control"}})
                @Html.TextBoxFor(model => model.Matchs.JVe1.ClassementId.Classement, new {htmlAttributes = new {disabled = "disabled", @class = "form-control small-input"}})
            </div>
            <div class="GroupeForm">
                @Html.LabelFor(model => model.Joueur2Ve, htmlAttributes: new {@class = "control-label col-md-2"})
                @Html.TextBoxFor(model => model.Matchs.JVe2.Nom, new {htmlAttributes = new {@class = "form-control"}})
                @Html.TextBoxFor(model => model.Matchs.JVe2.Prenom, new {htmlAttributes = new {@class = "form-control"}})
                @Html.TextBoxFor(model => model.Matchs.JVe2.ClassementId.Classement)
            </div>
            <div class="GroupeForm">
                @Html.LabelFor(model => model.Joueur3Ve, htmlAttributes: new {@class = "control-label col-md-2"})
                @Html.TextBoxFor(model => model.Matchs.JVe3.Nom, new {htmlAttributes = new {@class = "form-control"}})
                @Html.TextBoxFor(model => model.Matchs.JVe3.Prenom, new {htmlAttributes = new {@class = "form-control"}})
                @Html.TextBoxFor(model => model.Matchs.JVe3.ClassementId.Classement)
            </div>
            <div class="GroupeForm">
                @Html.LabelFor(model => model.Joueur4Ve, htmlAttributes: new {@class = "control-label col-md-2"})
                @Html.TextBoxFor(model => model.Matchs.JVe4.Nom, new {htmlAttributes = new {@class = "form-control"}})
                @Html.TextBoxFor(model => model.Matchs.JVe4.Prenom, new {htmlAttributes = new {@class = "form-control"}})
                @Html.TextBoxFor(model => model.Matchs.JVe4.ClassementId.Classement)
            </div>
        </div>
        <div class="JoueursVisiteur">
            <div class="GroupeForm">
                @Html.LabelFor(model => model.Joueur1Vr, htmlAttributes: new {@class = "control-label col-md-2"})
                @Html.TextBoxFor(model => model.Matchs.JVr1.Nom, new {htmlAttributes = new {@class = "form-control"}})
                @Html.TextBoxFor(model => model.Matchs.JVr1.Prenom, new {htmlAttributes = new {@class = "form-control"}})
                @Html.TextBoxFor(model => model.Matchs.JVr1.ClassementId.Classement)
            </div>
            <div class="GroupeForm">
                @Html.LabelFor(model => model.Joueur2Vr, htmlAttributes: new {@class = "control-label col-md-2"})
                @Html.TextBoxFor(model => model.Matchs.JVr2.Nom, new {htmlAttributes = new {@class = "form-control"}})
                @Html.TextBoxFor(model => model.Matchs.JVr2.Prenom, new {htmlAttributes = new {@class = "form-control"}})
                @Html.TextBoxFor(model => model.Matchs.JVr2.ClassementId.Classement)
            </div>
            <div class="GroupeForm">
                @Html.LabelFor(model => model.Joueur3Vr, htmlAttributes: new {@class = "control-label col-md-2"})
                @Html.TextBoxFor(model => model.Matchs.JVr3.Nom, new {htmlAttributes = new {@class = "form-control"}})
                @Html.TextBoxFor(model => model.Matchs.JVr3.Prenom, new {htmlAttributes = new {@class = "form-control"}})
                @Html.TextBoxFor(model => model.Matchs.JVr3.ClassementId.Classement)
            </div>
            <div class="GroupeForm">
                @Html.LabelFor(model => model.Joueur4Vr, htmlAttributes: new {@class = "control-label col-md-2"})
                @Html.TextBoxFor(model => model.Matchs.JVr4.Nom, new {htmlAttributes = new {@class = "form-control"}})
                @Html.TextBoxFor(model => model.Matchs.JVr4.Prenom, new {htmlAttributes = new {@class = "form-control"}})
                @Html.TextBoxFor(model => model.Matchs.JVr4.ClassementId.Classement)
            </div>
        </div>
    </div>
    <div class="Administratif">
        <div class="GroupeForm">
            @Html.LabelFor(model => model.CapitaineVe, htmlAttributes: new {@class = "control-label col-md-2"})
            @Html.TextBoxFor(model => model.Matchs.CapitaineVe.Nom, new {htmlAttributes = new {@class = "form-control"}})
            @Html.TextBoxFor(model => model.Matchs.CapitaineVe.Prenom, new {htmlAttributes = new {@class = "form-control"}})
        </div>
        <div class="GroupeForm">
            @Html.LabelFor(model => model.CapitaineVr, htmlAttributes: new {@class = "control-label col-md-2"})
            @Html.TextBoxFor(model => model.Matchs.CapitaineVr.Nom, new {htmlAttributes = new {@class = "form-control"}})
            @Html.TextBoxFor(model => model.Matchs.CapitaineVr.Prenom, new {htmlAttributes = new {@class = "form-control"}})
        </div>
    </div>
    <hr/>
    <div class="Scores">
        <table class="heavyTable">
            <thead>
            <tr>
                <th>@Html.Label("Joueur visité")</th>
                <th>@Html.Label("Joueur visiteur")</th>
                <th colspan="2">@Html.Label("Set 1")</th>
                <th colspan="2">@Html.Label("Set 2")</th>
                <th colspan="2">@Html.Label("Set 3")</th>
                <th colspan="2">@Html.Label("Set 4")</th>
                <th colspan="2">@Html.Label("Set 5")</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var x in Model.ListeRencontres)
            {
                <tr id="@x.Sr.Ordre">
                    @switch (x.Sr.JoueurVisite)
                    {
                        case 1:
                            <td>@Model.Matchs.JVe1.Nom @Html.Raw(" ") @Model.Matchs.JVe1.Prenom</td>
                            break;
                        case 2:
                            <td>@Model.Matchs.JVe2.Nom @Html.Raw(" ") @Model.Matchs.JVe2.Prenom</td>
                            break;
                        case 3:
                            <td>@Model.Matchs.JVe3.Nom @Html.Raw(" ") @Model.Matchs.JVe3.Prenom</td>
                            break;
                        case 4:
                            <td>@Model.Matchs.JVe4.Nom @Html.Raw(" ") @Model.Matchs.JVe4.Prenom</td>
                            break;
                    }
                    @switch (x.Sr.JoueurVisiteur)
                    {
                        case 1:
                            <td>@Model.Matchs.JVr1.Nom @Html.Raw(" ") @Model.Matchs.JVr1.Prenom</td>
                            break;
                        case 2:
                            <td>@Model.Matchs.JVr2.Nom @Html.Raw(" ") @Model.Matchs.JVr2.Prenom</td>
                            break;
                        case 3:
                            <td>@Model.Matchs.JVr3.Nom @Html.Raw(" ") @Model.Matchs.JVr3.Prenom</td>
                            break;
                        case 4:
                            <td>@Model.Matchs.JVr4.Nom @Html.Raw(" ") @Model.Matchs.JVr4.Prenom</td>
                            break;
                    }

                    @{
                        string[] scores = null;
                        if (x.Score != null)
                        {
                            scores = Regex.Split(x.Score, @"\D+");
                        }
                    }
                    @for (int cpt = 0; cpt < 10; cpt++)
                    {
                        if (scores != null && cpt < scores.Length && scores[cpt].Length != 0)
                        {
                            <td tabindex="@x.Sr.Ordre + cpt">
                                @Html.Raw(scores[cpt])
                            </td>

                        }
                        else
                        {
                            <td tabindex="@x.Sr.Ordre + cpt">
                                @Html.Raw("0")
                            </td>
                        }
                    }
                </tr>
            }
            </tbody>
        </table>
    </div>
}
