@model TennisTableASP.Models.Series

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Séries";
}

<h3>Êtes-vous sur de vouloir supprimer cette entrée ?</h3>
<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.SerieId)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.SerieId)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.Denomination)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Denomination)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.Type)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Type)
    </dd>
</dl>
    
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="actions">
        <input type="submit" value="Supprimer" class="btn btn-default" />
    </div>
}
