@model TennisTableASP.Models.Joueurs

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Joueurs - Suppression";
}
    <h3>Êtes-vous sur de vouloir supprimer cette entrée ?</h3>
    <div>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.License)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.License)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Nom)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nom)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Prenom)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Prenom)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.SexeId.Denomination)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SexeId.Denomination)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Mail)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Mail)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ClassementId.Classement)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ClassementId.Classement)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ClubId.Nom)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ClubId.Nom)
            </dd>
        </dl>
    
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="actions">
                <input type="submit" value="Supprimer" class="btn btn-default" />
            </div>
        }
    </div>
