@model TennisTableASP.Models.SchemasRencontres

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.SrId)

        <div class="GroupeForm">
            @Html.LabelFor(model => model.Ordre, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.Ordre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Ordre, "", new { @class = "text-danger" })
        </div>


        <div class="GroupeForm">
            @Html.LabelFor(model => model.Type, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.DropDownListFor(model => model.Type, new List<SelectListItem>
{
                new SelectListItem { Text = "Messieurs", Value = "Messieurs" },
                new SelectListItem { Text = "Dames", Value = "Dames" },
                new SelectListItem { Text = "Vétérans", Value = "Veterans" },
            })
            @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
        </div>

        <div class="GroupeForm">
            @Html.LabelFor(model => model.JoueurVisite, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.JoueurVisite, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.JoueurVisite, "", new { @class = "text-danger" })
        </div>

        <div class="GroupeForm">
            @Html.LabelFor(model => model.JoueurVisiteur, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.JoueurVisiteur, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.JoueurVisiteur, "", new { @class = "text-danger" })
            </div>

        <div class="form-actions">
                <input type="submit" value="Save" class="btn btn-default" />
        </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
