@model IEnumerable<TennisTableASP.Models.SchemasRencontres>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ordre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JoueurVisite)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JoueurVisiteur)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Ordre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JoueurVisite)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JoueurVisiteur)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SrId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SrId })
        </td>
    </tr>
}

</table>
